body {
    background-color: rgba(192, 191, 191, 0.712);
}

.col {
    padding: 0px;
    text-align: center;
}

#titolo {
    color: rgb(240, 249, 255);
    font-family: Ubuntu, "Sans-serif";
    font-size: 40px;
    text-align: center;
}

.titoli {
    color: rgba(82, 9, 116, 0.884);
    font-family: Ubuntu, "Sans-serif";
    font-size: 27px;
    text-align: center;
}

#rowLogoGrande {
    margin-bottom: 100px;
}

.rowParteDellaDoc {
    margin-bottom: 70px;
}

.testo {
    color: aliceblue;
    font-family: Ubuntu, "Sans-serif";
    font-size: 1em;
    text-align: center;
}


/* CSS PER I COLLAPSIBLE */

.collapsible {
    background-color: rgba(82, 9, 116, 0.884);
    color: aliceblue;
    font-family: Ubuntu, "Sans-serif";
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
}


/*Cambia sfondo quando ci passi sopra col mouse*/

.active,
.collapsible:hover {
    background-color: rgb(92, 0, 134);
}

.content {
    color: aliceblue;
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(58, 0, 85);
    font-family: "Helvetica";
}


/*inizio carousel*/

.carousel-item {
    height: 65vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    background-color: rgba(129, 128, 128, 0.411);
    margin-top: 20px;
    font-family: Ubuntu, "Sans-serif";
}

.titoloSchedaCarousel {
    color: black;
    font-size: 3.43em;
    font-weight: 500;
    font-family: Ubuntu, "Sans-serif";
}

.testoCarousel {
    color: black;
    margin-top: 40px;
    font-size: 1.5em;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-family: Ubuntu, "Sans-serif";
}

#ocaRossa {
    padding-top: 10px;
    color: rgb(250, 0, 18);
    text-align: center;
    font-size: 2.5em;
    font-family: Ubuntu, "Sans-serif";
}

#ocaBlu {
    padding-top: 10px;
    color: rgb(47, 52, 149);
    text-align: center;
    font-size: 2.5em;
    font-family: Ubuntu, "Sans-serif";
}

#ocaVerde {
    padding-top: 10px;
    color: rgb(0, 180, 78);
    text-align: center;
    font-size: 2.5em;
    font-family: Ubuntu, "Sans-serif";
}

#ocaGialla {
    padding-top: 10px;
    color: rgb(245, 255, 0);
    text-align: center;
    font-size: 2.5em;
    font-family: Ubuntu, "Sans-serif";
}

#ocaCattiva {
    padding-top: 10px;
    color: rgb(158, 0, 144);
    text-align: center;
    font-size: 2.5em;
    font-family: Ubuntu, "Sans-serif";
}

.sfondoTestoCarousel {
    background-color: lightgray;
}

.titoloSchedaCarousel:hover {
    color: black;
    font-family: Ubuntu, "Sans-serif";
}

.imgOca {
    width: 250px;
    height: 250px;
    margin: auto;
    display: inline-block;
    margin-top: 40px;
}

.imgAbilita {
    width: 70px;
    height: 70px;
    margin-left: 25px;
    display: inline-block;
}

#imgOcaCattiva {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 65%, 65%;
    position: relative;
}


/*fine carousel*/

.scritteCentrali {
    text-align: center;
    font-size: 3.12em;
    font-family: Ubuntu, "Sans-serif";
}

#scaricaGuida {
    margin: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    width: fit-content;
    width: -moz-fit-content;
}

#sottotitoliRossi {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-family: Ubuntu, "Sans-serif";
}

#sottotitoliVerdi {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(0, 180, 78);
    font-family: Ubuntu, "Sans-serif";
}

#casellaFinale {
    text-align: center;
    font-size: 1.6em;
    margin-top: 30px;
    color: rgb(47, 52, 149);
    font-family: Ubuntu, "Sans-serif";
}

#effettiNegativi {
    text-align: left;
    font-family: Ubuntu, "Sans-serif";
}

#effettiPositivi {
    text-align: left;
    font-family: Ubuntu, "Sans-serif";
}

#casellaVincitrice {
    text-align: center;
    margin-bottom: 30px;
    font-family: Ubuntu, "Sans-serif";
}

.separatore {
    background-color: rgba(82, 9, 116, 0.644);
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divDesc {
    text-align: center;
}

.desc {
    font-size: 1.25em;
    font-family: Ubuntu, "Sans-serif";
}

.descRegole {
    font-size: 1.25em;
    font-family: Ubuntu, "Sans-serif";
    text-align: left;
    margin-left: 100px;
}

#negativi {
    background-color: rgba(82, 9, 116, 0.096);
    text-align: center;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
}

#negativi tr:nth-child(even) {
    background-color: #f2f2f2c7;
}

#negativi tr th {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

#positivi {
    background-color: rgba(82, 9, 116, 0.055);
    text-align: center;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    ;
}

#positivi tr th {
    border: 2px solid rgb(0, 0, 0);
}

#positivi tr:nth-child(even) {
    background-color: #f2f2f2c7;
}

.imgEffetto {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    font-family: Ubuntu, "Sans-serif";
}

.descEffetto {
    display: inline-block;
    text-align: right;
    margin-left: 10px;
    font-size: 1.25em;
    font-family: Ubuntu, "Sans-serif";
}
