body {
    margin: 0px;
}

#vittoria,
#sconfitta {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #077cfa;
}

#msgHaiVinto,
#msgHaiPerso {
    width: 100vw;
    font-size: 50px;
    color: white;
    font-family: "Ubuntu", "helvetica";
    position: relative;
    top: 25vh;
}

.premiEsc {
    font-size: 30px;
    color: white;
    font-family: "Ubuntu", "helvetica";
    position: relative;
    top: 45vh;
}

.caselle,
.caselleIniziali {
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.caselle {
    display: table;
}

.numCasella {
    width: 15px;
    height: 14px;
    font-size: 14px;
    margin-top: -8px;
    text-align: center;
    z-index: 1;
    background-color: rgb(221, 221, 221);
}

#info_pl1 {
    position: absolute;
    top: 10px;
    left: 30px;
}

#info_dado_pl1 {
    position: absolute;
    top: 40px;
    left: 30px;
}

#dado_pl1 {
    border:1px solid black;
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 15px 0px 0px 200px;
}

#info_com {
    position: absolute;
    top: 10px;
    right: 30px;
}

#info_dado_com {
    position: absolute;
    top: 40px;
    right: 60px;
}

#dado_com {
    position: absolute;
    top: 40px;
    right: 40px;
}

#eff1_pl1 {
    display: none;
    position: absolute;
    top: 65px;
    left: 30px;
    border: 2px solid black;
}

#eff2_pl1 {
    display: none;
    position: absolute;
    top: 90px;
    left: 30px;
    border: 1px solid black;
}

#eff1_com {
    display: none;
    position: absolute;
    top: 65px;
    right: 30px;
    border: 2px solid black;
}

#eff2_com {
    display: none;
    position: absolute;
    top: 90px;
    right: 30px;
    border: 1px solid black;
}