body {
    margin: 0px;
}

#gioco {
    width: 100vw;
    height: 100vh;
}

#vittoria,
#sconfitta {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #077cfa;
}

#msgHaiVinto,
#msgHaiPerso {
    width: 100vw;
    font-size: 50px;
    color: white;
    font-family: "Ubuntu", "helvetica";
    position: relative;
    top: 25vh;
}

.premiEsc {
    font-size: 30px;
    color: white;
    font-family: "Ubuntu", "helvetica";
    position: relative;
    top: 45vh;
}

.caselle,
.caselleIniziali {
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.caselle {
    display: table;
}

.numCasella {
    width: 15px;
    height: 14px;
    font-size: 14px;
    margin-top: -8px;
    text-align: center;
    z-index: 1;
    background-color: rgb(221, 221, 221);
}

#imgTitolo {
    height: 17vh;
}

#info_pl1 {
    position: absolute;
    top: 10px;
    left: 30px;
}

#imgAbilita {
    padding: 0px;
    position: absolute;
    top: 15px;
    left: 120px;
}

#dado_pl1 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 40px;
    left: 27px;
}

#info_com {
    position: absolute;
    top: 10px;
    right: 30px;
}

#dado_com {
    position: absolute;
    top: 40px;
    right: 40px;
}

#eff1_pl1 {
    display: block;
    position: absolute;
    top: 10px;
    left: 210px;
    border: 2px solid black;
}

#eff2_pl1 {
    display: noblockne;
    position: absolute;
    top: 40px;
    left: 210px;
    border: 1px solid black;
}

#eff1_com {
    display: block;
    position: absolute;
    top: 10px;
    right: 210px;
    border: 2px solid black;
}

#eff2_com {
    display: block;
    position: absolute;
    top: 40px;
    right: 210px;
    border: 1px solid black;
}