#titolo {
    padding: 0px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: Helvetica;
}

#divSottoTitolo {
    margin-left: 0px;
    margin-top: 40px;
    border: 1px solid rgb(0, 127, 255);
    text-align: center;
}

#sottoTitolo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: Helvetica;
}

#divNoi {
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid rgb(0, 127, 255);
    text-align: center;
}

.noi {
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: Helvetica;
}