#perimetroGioco {
    width: 1000px;
    height: 690px;
    border: 1px solid rgb(0, 127, 255);
    background: rgb(0, 127, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#divTitolo {
    margin-top: 30px;
    text-align: center;
    border: 1px solid rgb(0, 127, 255);
}

#divStart {
    margin-left: 422px;
    margin-top: 95px;
    border: 1px solid rgb(0, 127, 255);
}

#divOptions {
    margin-left: 422px;
    padding-left: 20px;
    margin-top: 40px;
    border: 1px solid rgb(0, 127, 255);
}

#divCredits {
    margin-left: 422px;
    margin-top: 40px;
    padding-left: 26px;
    border: 1px solid rgb(0, 127, 255);
}

.link {
    text-decoration: none;
}

#titolo {
    padding: 0px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: Helvetica;
}

#start {
    font-size: 30px;
    padding: 1px;
    background-color: rgb(0, 127, 255);
    border: 0px;
    color: white;
    /* modifico il cursore quando passa sul bottone */
    cursor: pointer;
    outline: none;
    font-family: 'helvetica';
    /* trasformo il testo in grassetto */
    font-weight: bold;
}

#options {
    font-size: 30px;
    padding: 5px;
    background-color: rgb(0, 127, 255);
    border: 0px;
    color: white;
    /* modifico il cursore quando passa sul bottone */
    cursor: pointer;
    font-family: 'helvetica';
    /* trasformo del bottone in grassetto */
    font-weight: bold;
}

#credits {
    font-size: 30px;
    padding: 5px;
    background-color: rgb(0, 127, 255);
    border: 0px;
    color: white;
    /* modifico il cursore quando passa sul bottone */
    cursor: pointer;
    font-family: 'helvetica';
    /* trasformo del bottone in grassetto */
    font-weight: bold;
}