/*Proprietà CSS usati anche in altri file*/

#areaMenu {
    width: 1000px;
    height: 100vh;
    /*100%*/
    border: 1px solid rgb(0, 127, 255);
    background: rgb(0, 127, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#divTitolo {
    margin-top: 30px;
    text-align: center;
    border: 1px solid rgb(0, 127, 255);
    height: 100px;
}