/*Proprietà CSS usati anche in altri file*/

#areaMenu {
    margin-top: 90px;
    width: 1920px;
    height: 85vh;
    /*100%*/
    /* border: 1px solid rgb(0, 127, 255);
    background: rgb(0, 127, 255); */
    background: rgb(187, 2, 233);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#divTitolo {
    margin-top: 30px;
    text-align: center;
    border: 1px solid rgb(0, 127, 255);
    height: 100px;
}

#imgTitolo {
    margin-top: 30px;
    height:300px;
    text-align: center;
    /* border: 1px solid black; */
}

#scritta {
    height:816px;
    width:1450px;
    /* border: 1px solid black; */
    
}

