/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color:rgb(82, 9, 116); 
    color: aliceblue;
    font-family: Ubuntu;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color:rgb(92, 0, 134); 
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    color: aliceblue;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:rgb(58, 0, 85);  
  }