/*NAVIGATION BAR*/

.navbar {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#logo {
    width: 80px;
    height: 80px;
}

.navbar a {
    float: left;
    padding: 0.9vw;
    color: rgb(129, 7, 123);
    text-decoration: none;
    font-size: 17px;
    font-family:fantasy;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}