#csbo{
    background-color: rgba(92, 58, 142, 0.87);
}

.titoli{
    color: aliceblue;
    font-family: Ubuntu;
    text-align: center;
}

.testo{
    color: aliceblue;
    font-family: Ubuntu;
    text-align: center;
}