body {
    background-color: rgba(85, 48, 139, 0.87);
    color: rgb(189, 184, 184);
    margin: 0px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0px;
}

#rowIntestazione,
#rowSceltaProfilo {
    margin-bottom: 20px;
}

#rowSceltaProfilo {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.945);
    border: 3px solid rgba(46, 11, 99, 0.932);
    height: 307px;
    padding-top: auto;
    padding-bottom: auto;
    border-radius: 10px;
}

#infoQualeUtente {
    /*font size 1.6 volte superiore a com'era prima (di com'era di default)*/
    font-size: 1.6em;
    color: rgba(46, 11, 99, 0.973);
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    /* QUESTO MARGIN L HO USATO PERCHE NON SAPEVO COME FARLO RESPONSIVE*/
    margin-right: 70vw;
    font-weight: bold;
}

#navbarDropdownMenuLink {
    color: rgba(46, 11, 99, 0.973);
    font-weight: bold;
}

#mostra0 {
    margin-top: 100px;
    margin-left: 60px;
}

#mostra1 {
    margin-top: 100px;
    margin-left: -30px;
}

#mostra2 {
    margin-top: 100px;
    margin-left: -30px;
}

#btnScegli0 {
    margin-top: 100px;
    margin-left: 85px;
}

#btnScegli1 {
    margin-top: 100px;
    margin-left: 85px;
}

#btnScegli2 {
    margin-top: 100px;
    margin-left: 85px;
}

#numPartite {
    margin-top: 0px;
    border: 5px solid rgba(46, 11, 99, 0.932);
    border-radius: 10px;
}

.divBtnScegliProfilo {
    width: 300px;
    height: 300px;
    border: 5px solid rgba(46, 11, 99, 0.932);
    background-color: rgb(46, 11, 99, 0.932);
    border-radius: 50%;
}

.divBtnScegliProfilo3 {
    width: 300px;
    height: 300px;
    border: 5px solid rgba(46, 11, 99, 0.932);
    background-color: rgb(46, 11, 99, 0.932);
    border-radius: 50%;
}

.btnScegliProfilo:hover {
    background-color: #b93aca;
    cursor: pointer;
}

#grado {
    margin-top: 10px;
    width: 900px;
    height: 300px;
    border: 5px solid rgba(46, 11, 99, 0.932);
    border-radius: 10px;
    background-color: white;
    color: rgba(46, 11, 99, 0.932);
}

#divNumPartite {
    border: 5px solid rgba(46, 11, 99, 0.932);
    border-radius: 10px;
    background-color: white;
    color: rgba(46, 11, 99, 0.932);
}

#colonnaElencoPartite {
    width: 900px;
    height: 300px;
    border: 5px solid rgba(46, 11, 99, 0.932);
    border-radius: 10px;
    background-color: white;
    color: rgba(46, 11, 99, 0.932);
}

#intestazioneGrado {
    margin-left: 150px;
}

.linkImgCestino:hover {
    cursor: pointer;
}

.imgCestino {
    margin-bottom: 20px;
    margin-right: 5px;
}

#infoStatistUsername {
    /*Per la dimensione in firefox (non posso usare il semplice fit-content)*/
    margin-top: 40px;
    margin-bottom: 40px;
    width: 600px;
    height: 70px;
    border: 3px solid white;
    border-radius: 40px;
    background-color: blueviolet;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#infoStatistUsername h4 {
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}

#totPartite,
#intestazionePartite {
    margin-left: 20px;
    font-size: 1.7em;
    text-decoration: underline;
}

.numPartite {
    font-size: 1.3em;
}

#intestazioneGrado {
    font-size: 1.6em;
    text-decoration: underline;
}

#msgMotivazionale {
    margin-left: 20px;
    margin-top: 70px;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(17, 17, 194);
}

#divNonHaAccesso {
    font-size: 2em;
}

#ulElencoGradi {
    color: rgba(46, 11, 99, 0.932);
}

#divElencoGradi ul {
    list-style-type: "➭";
}

.gradi {
    font-size: 1.2em;
    color: rgba(46, 11, 99, 0.932);
}

.gradiNoTrasp {
    font-size: 1.2em;
    color: rgba(147, 87, 238, 0.932);
}

#divElencoPartite {
    margin-left: 20px;
}

#divElencoPartite li {
    margin-left: 20px;
    font-size: 1.02em;
}

#noProfiloScelto {
    display: none;
}

#btnSubmit:hover {
    background-color: #706b70;
    cursor: pointer;
}

#msgErroreUsername {
    color: red;
    font-weight: bold;
}


/* - - - CSS per il dropdown menu  - - - */

#dropdownBtn {
    background-color: #2980B9;
    color: white;
    padding: 16px;
    /*font size 1.07 volte superiore a com'era prima (di com'era di default)*/
    font-size: 1.07em;
    border: none;
    border-radius: 8%;
}

#dropdown-menu {
    display: none;
    position: absolute;
    background-color: #529bcc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10%;
}

#dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    /*(per farli andare a capo)*/
    display: block;
    border-radius: 50% 65% 50% 65%;
}

#dropdown-menu a:hover {
    background-color: #ddd;
}

#divDropdown {
    float: right;
}

#divDropdown:hover #dropdown-menu {
    display: block;
}

#divDropdown:hover #dropdownBtn {
    background-color: #1973af;
}


/* - - - - - - - - - - - - - - */